<form class="car-rental-form">

  <mat-form-field class="car-rental-full-width">
    <input [(ngModel)]="rentalOfficeToUpdate.name" matInput name="name" placeholder="Name">
  </mat-form-field>

  <mat-form-field class="car-rental-full-width">
    <input [(ngModel)]="rentalOfficeToUpdate.internetDomain" matInput name="internetDomain"
           placeholder="Internet Domain">
  </mat-form-field>

  <mat-form-field class="car-rental-full-width">
    <input [(ngModel)]="rentalOfficeToUpdate.contactAddress" matInput name="contactAddress"
           placeholder="Contact Address">
  </mat-form-field>

  <mat-form-field class="car-rental-full-width">
    <input [(ngModel)]="rentalOfficeToUpdate.owner" matInput name="owner" placeholder="Owner">
  </mat-form-field>

  <mat-form-field class="car-rental-full-width">
    <input [(ngModel)]="rentalOfficeToUpdate.logoType" matInput name="logoType" placeholder="Logo Type">
  </mat-form-field>

  <button (click)="updateRentalOffice()" color="primary" mat-raised-button>Update</button>
  <button (click)="goToRentalOffices()" mat-raised-button>Close</button>
</form>
