<form #officeForm="ngForm" (ngSubmit)="updateRentalOffice()" class="rental-office-form">

  <mat-form-field class="rental-office-full-width">
    <input #nm="ngModel" [(ngModel)]="rentalOfficeToUpdate.name" matInput name="name" placeholder="Name" required>
    <mat-error *ngIf="nm.invalid || nm.pristine">Name is required</mat-error>
  </mat-form-field>

  <mat-form-field class="rental-office-full-width">
    <input [(ngModel)]="rentalOfficeToUpdate.internetDomain" matInput name="internetDomain"
           #domain="ngModel" placeholder="Internet Domain" required>
    <mat-error *ngIf="domain.invalid || domain.pristine">Internet domain is required</mat-error>
  </mat-form-field>

  <mat-form-field class="rental-office-full-width">
    <input [(ngModel)]="rentalOfficeToUpdate.contactAddress" matInput name="contactAddress"
           #addr="ngModel" placeholder="Contact Address" required>
    <mat-error *ngIf="addr.invalid || addr.pristine">Contact address is required</mat-error>
  </mat-form-field>

  <mat-form-field class="rental-office-full-width">
    <input #own="ngModel" [(ngModel)]="rentalOfficeToUpdate.owner" matInput name="owner" placeholder="Owner" required>
    <mat-error *ngIf="own.invalid || own.pristine">Owner is required</mat-error>
  </mat-form-field>

  <mat-form-field class="rental-office-full-width">
    <input #logo="ngModel" [(ngModel)]="rentalOfficeToUpdate.logoType" matInput name="logoType" placeholder="Logo Type"
           required>
    <mat-error *ngIf="logo.invalid || logo.pristine">Logo type is required</mat-error>
  </mat-form-field>

  <button [disabled]="!officeForm.form.valid" class="action" mat-raised-button type="submit">Update</button>
  <button (click)="goToRentalOffices()" class="default" mat-raised-button>Close</button>
</form>
