<form class="booking-form">

  <mat-form-field class="booking-full-width">
    <input [(ngModel)]="customerDto" [matAutocomplete]="auto1" matInput name="customerDto"
           placeholder="Customer name" required>
    <mat-autocomplete #auto1="matAutocomplete" [displayWith]="displayFn1">
      <mat-option *ngFor="let customer of customers" [value]="customer">
        {{customer.firstName}} {{customer.lastName}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <mat-form-field class="booking-full-width">
    <input [(ngModel)]="rentalBranchDto" [matAutocomplete]="auto2" matInput name="rentalBranchDto"
           placeholder="Rental branch" required>
    <mat-autocomplete #auto2="matAutocomplete" [displayWith]="displayFn2">
      <mat-option *ngFor="let branch of branches" [value]="branch">
        {{branch.address}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <mat-form-field class="booking-full-width">
    <input [(ngModel)]="returnBranchDto" [matAutocomplete]="auto3" matInput name="returnBranchDto"
           placeholder="Return branch" required>
    <mat-autocomplete #auto3="matAutocomplete" [displayWith]="displayFn2">
      <mat-option *ngFor="let branch of branches" [value]="branch">
        {{branch.address}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <mat-form-field class="booking-full-width">
    <input [(ngModel)]="carDto" [matAutocomplete]="auto4" matInput name="carDto"
           placeholder="Car model" required>
    <mat-autocomplete #auto4="matAutocomplete" [displayWith]="displayFn3">
      <mat-option *ngFor="let car of cars" [value]="car">
        {{car.model}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <mat-form-field class="booking-full-width">
    <input #picker1Model="ngModel" [(ngModel)]="dateFrom" [matDatepickerFilter]="dateFilter1" [matDatepicker]="picker1"
           matInput
           name="dateFrom" placeholder="Date From" required>
    <mat-datepicker-toggle [for]="picker1" matSuffix></mat-datepicker-toggle>
    <mat-datepicker #picker1></mat-datepicker>
  </mat-form-field>

  <mat-form-field class="booking-full-width">
    <input #picker2Model="ngModel" [(ngModel)]="dateTo" [matDatepickerFilter]="dateFilter2" [matDatepicker]="picker2"
           matInput
           name="dateTo" placeholder="Date To" required>
    <mat-datepicker-toggle [for]="picker2" matSuffix></mat-datepicker-toggle>
    <mat-datepicker #picker2></mat-datepicker>
  </mat-form-field>

  <div>
    <button (click)="createBooking()" color="primary" mat-raised-button>Create</button>
    <button (click)="goToBookings()" mat-raised-button>Close</button>
  </div>

</form>
