<!-- Toolbar -->
<mat-toolbar>

  <a mat-button routerLink="/">Welcome</a>

  <a mat-button routerLink="/bookings">Bookings</a>

  <a mat-button routerLink="/rental-offices">Rental offices</a>

  <a mat-button routerLink="/branches">Branches</a>

  <a mat-button routerLink="/rentals">Rentals</a>

  <a mat-button routerLink="/returns">Returns</a>

  <a mat-button routerLink="/cars">Cars</a>

  <a mat-button routerLink="/employees">Employees</a>

  <a mat-button routerLink="/customers">Customers</a>

  <a mat-button routerLink="/revenues">Revenues</a>

</mat-toolbar>

<div class="content" role="main">
  <router-outlet></router-outlet>
</div>