<form class="employee-form">
  <mat-form-field class="employee-full-width">
    <input [(ngModel)]="nameAndSurname" matInput name="nameAndSurname" placeholder="Name and Surname" required>
  </mat-form-field>

  <mat-form-field>
    <mat-select [(ngModel)]="jobPosition" matInput name="jobPosition" placeholder="Job Position" required>
      <mat-option value="EMPLOYEE">EMPLOYEE</mat-option>
      <mat-option value="MANAGER">MANAGER</mat-option>
    </mat-select>
  </mat-form-field>

  <div>
    <button (click)="createEmployee()" color="primary" mat-raised-button>Create</button>
    <button (click)="goToEmployees()" mat-raised-button>Close</button>
  </div>

</form>