<div class="branch-overview">

  <button mat-raised-button routerLink="/employees/new">New Employee</button>
  <table [dataSource]='employees | async' class="mat-elevation-z8" mat-table>

    <ng-container matColumnDef="id">
      <th *matHeaderCellDef mat-header-cell>Id</th>
      <td *matCellDef="let element" mat-cell>{{element.id}}</td>
    </ng-container>

    <ng-container matColumnDef="nameAndSurname">
      <th *matHeaderCellDef mat-header-cell>Name and Surname</th>
      <td *matCellDef="let element" mat-cell>{{element.nameAndSurname}}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th *matHeaderCellDef mat-header-cell>Actions</th>
      <td *matCellDef="let element" mat-cell>
        <button (click)="delete(element.id)" mat-raised-button>
          <fa-icon [icon]="trashIcon"></fa-icon>
        </button>
        <button mat-raised-button routerLink="/employees/{{element.id}}/details">
          <fa-icon [icon]="searchIcon"></fa-icon>
        </button>
      </td>
    </ng-container>

    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedColumns" mat-row></tr>

  </table>
</div>
