<div class="booking-overview">

  <div class="blank_row"></div>
  <router-outlet></router-outlet>
  <div class="blank_row"></div>

  <button class="action" mat-raised-button routerLink="/bookings/new">New booking</button>

  <table [dataSource]='bookings | async' class="mat-elevation-z8" mat-table>

    <ng-container matColumnDef="id">
      <th *matHeaderCellDef mat-header-cell>Id</th>
      <td *matCellDef="let element" mat-cell>{{element.id}}</td>
    </ng-container>

    <ng-container matColumnDef="dateOfBooking">
      <th *matHeaderCellDef mat-header-cell>Date Of Booking</th>
      <td *matCellDef="let element" mat-cell>{{element.dateOfBooking}}</td>
    </ng-container>

    <ng-container matColumnDef="dateFrom">
      <th *matHeaderCellDef mat-header-cell>Date From</th>
      <td *matCellDef="let element" mat-cell>{{element.dateFrom}}</td>
    </ng-container>

    <ng-container matColumnDef="dateTo">
      <th *matHeaderCellDef mat-header-cell>Date To</th>
      <td *matCellDef="let element" mat-cell>{{element.dateTo}}</td>
    </ng-container>

    <ng-container matColumnDef="customerDto">
      <th *matHeaderCellDef mat-header-cell>Customer Name</th>
      <td *matCellDef="let element" mat-cell>{{element.customerDto.firstName}} {{element.customerDto.lastName}}</td>
    </ng-container>

    <ng-container matColumnDef="amount">
      <th *matHeaderCellDef mat-header-cell>Amount</th>
      <td *matCellDef="let element" mat-cell>{{element.amount}}</td>
    </ng-container>

    <ng-container matColumnDef="bookingStatus">
      <th *matHeaderCellDef mat-header-cell>Status</th>
      <td *matCellDef="let element" mat-cell>{{element.bookingStatus}}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th *matHeaderCellDef mat-header-cell>Actions</th>
      <td *matCellDef="let element" mat-cell>
        <button (click)="delete(element.id)" class="danger" mat-raised-button>
          <fa-icon [icon]="trashIcon"></fa-icon>
        </button>
        <button class="info" mat-raised-button routerLink="/bookings/{{element.id}}/details">
          <fa-icon [icon]="searchIcon"></fa-icon>
        </button>
        <button class="danger" mat-raised-button routerLink="/bookings/{{element.id}}/cancellations">
          Cancellation
        </button>
    </ng-container>

    <tr *matHeaderRowDef="displayedColumns" mat-header-row style="background-color: cornflowerblue;"></tr>
    <tr *matRowDef="let row; columns: displayedColumns" mat-row></tr>

  </table>

  <br/>

  <mat-paginator (page)="getBookings($event)" [length]="length" [pageSizeOptions]="pageSizeOptions"
                 [pageSize]="pageSize">
  </mat-paginator>

</div>
