mat-grid-tile {
  background: lightblue;
}

.booking-overview {
  width: 1200px;
}

.booking-overview table {
  width: 100%;
}

button {
  margin: 16px 8px;
}

.blank_row {
  height: 40px;
  background-color: #ffffff;
}
