<div class="branch-overview">

  <button class="action" mat-raised-button routerLink="/branches/new">New branch</button>
  <table [dataSource]='branches | async' class="mat-elevation-z8" mat-table>

    <ng-container matColumnDef="id">
      <th *matHeaderCellDef mat-header-cell>Id</th>
      <td *matCellDef="let element" mat-cell>{{element.id}}</td>
    </ng-container>

    <ng-container matColumnDef="address">
      <th *matHeaderCellDef mat-header-cell>Address</th>
      <td *matCellDef="let element" mat-cell>{{element.address}}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th *matHeaderCellDef mat-header-cell>Actions</th>
      <td *matCellDef="let element" mat-cell>
        <button (click)="delete(element.id)" class="danger" mat-raised-button>
          <fa-icon [icon]="trashIcon"></fa-icon>
        </button>
        <button class="info" mat-raised-button routerLink="/branches/{{element.id}}/details">
          <fa-icon [icon]="searchIcon"></fa-icon>
        </button>
      </td>
    </ng-container>

    <tr *matHeaderRowDef="displayedColumns" mat-header-row style="background-color: cornflowerblue;"></tr>
    <tr *matRowDef="let row; columns: displayedColumns" mat-row></tr>

  </table>

  <br/>

  <mat-paginator (page)="getBranches($event)" [length]="length" [pageSizeOptions]="pageSizeOptions"
                 [pageSize]="pageSize">
  </mat-paginator>

</div>
